<div class="funders-logos">
    <img src="{{ '/assets/images/funders/school-of-cities.png' | relative_url }}" alt="School of Cities">
    <img src="{{ '/assets/images/funders/nserc.png' | relative_url }}" alt="NSERC">
    <img src="{{ '/assets/images/funders/mitacs.png' | relative_url }}" alt="Mitacs">
    <img src="{{ '/assets/images/funders/Funder-Trottier-V1.png' | relative_url }}" alt="Trottier Family Foundation">
    <img src="{{ '/assets/images/funders/toronto-foundation.webp' | relative_url }}" alt="Toronto Foundation">
</div>
