<div class="funders-logos">
    <img src="{{ '/assets/images/funders/Climate-Positive-Energy-logo.webp' | relative_url }}" alt="Climate Positive Energy">
    <img src="{{ '/assets/images/funders/city-of-toronto.png' | relative_url }}" alt="City of Toronto">
    <img src="{{ '/assets/images/funders/nserc.png' | relative_url }}" alt="NSERC">
    <img src="{{ '/assets/images/funders/sshrc.jpg' | relative_url }}" alt="SSHRC">
    <img src="{{ '/assets/images/funders/mitacs.png' | relative_url }}" alt="Mitacs">
    <img src="{{ '/assets/images/funders/school-of-cities.png' | relative_url }}" alt="School of Cities">
    <img src="{{ '/assets/images/funders/data-sciences-institute.png' | relative_url }}" alt="Data Sciences Institute">
</div>
