<div class="partners-logos">
    <img src="{{ '/assets/images/partners/city-of-toronto-logo-vector.png' | relative_url }}" alt="City of Toronto">
    <img src="{{ '/assets/images/partners/york-university.png' | relative_url }}" alt="York University">
    <img src="{{ '/assets/images/partners/stand.webp' | relative_url }}" alt="STAND">
    <img src="{{ '/assets/images/partners/Climate-Positive-Energy-logo.webp' | relative_url }}" alt="Climate Positive Energy">
    <img src="{{ '/assets/images/partners/climate-action-paths.webp' | relative_url }}" alt="Climate Action Paths">
    <img src="{{ '/assets/images/partners/tea.png' | relative_url }}" alt="TEA">
</div>
