<div class="partners-logos">
    <img src="{{ '/assets/images/partners/trottier-family-foundation.png' | relative_url }}" alt="Trottier Family Foundation">
    <img src="{{ '/assets/images/partners/tea.png' | relative_url }}" alt="Toronto Environmental Alliance">
    <img src="{{ '/assets/images/partners/clean-air-partnership.webp' | relative_url }}" alt="Clean Air Partnership">
    <img src="{{ '/assets/images/partners/change-course.png' | relative_url }}" alt="Change Course">
    <img src="{{ '/assets/images/partners/balance-for-blind-adults.png' | relative_url }}" alt="Balance for Blind Adults">
    <img src="{{ '/assets/images/partners/stand.webp' | relative_url }}" alt="Stand.earth">
    <img src="{{ '/assets/images/partners/york-university.png' | relative_url }}" alt="York University">
</div>
